
EVENT MANAGER
0. MANAGER가 처음 기동할 떄, EMS에 기동 중인 TASKER, WORK QUEUE등의 정보를 캐치
1. WORK QUEUE가 신규로 생성되는 이벤트 캐치,
2. 신규 생성된 WORK QUEUE를 TASKER에 통신(Queue)
3. 각각 TASKER에서 처리하고 있는 WORK QUEUE 관리
4. 실행 중인 TASKER 관리.


COMMUNICATION BETWEEN TASKERs
1. 운영 중인 Queue 공유
MANAGER  <--(queue)-- TASKER( "tasker_name" : "work_queue_name, ... ," )

2. 신규 Work Queue Assign
MANAGER("work_queue_name") --(queue)--> TASKER
